<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Cette application nécessite un accès aux documents pour choisir des fichiers .exe ou .msi</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Cette application nécessite un accès aux téléchargements pour choisir des fichiers .exe ou .msi</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Cette application nécessite un accès au bureau pour choisir des fichiers .exe ou .msi.</string>
</dict>
</plist>
